{% extends 'index.html' %}
{% load humanize staticfiles %}

{% block content %}
  <div class="container">
    <div class="row search-filter-container">
      <div class="col-md-10">
        <form action="/players/" method="get">
          <div class="form-row">
            <div class="col">
              <input value="{{ request.GET.points }}" type="number" name="points" class="form-control" step="any" placeholder="Pontuação prevista">
            </div>
            <div class="col">
              <select name="position" class="form-control">
                <option value="{{ request.GET.position }}" selected>Selecione uma posição</option>
                <option value="ata">Atacante</option>
                <option value="mei">Meia</option>
                <option value="zag">Zagueiro</option>
                <option value="lat">Lateral</option>
                <option value="gol">Goleiro</option>
                <option value="tec">Técnico</option>
              </select>
            </div>
            <div class="col">
              <select name="order_by" class="form-control">
                <option value="{{ request.GET.order_by }}" selected>Ordenar por</option>
                <option value="to_valorizate">Ira Valorizar</option>
                <option value="pontos_num">Pontos</option>
                <option value="preco_num">Preço</option>
                <option value="variacao_num">Valorizou</option>
                <option value="media_num">Média</option>
                <option value="scout.RB">Roubada de bola</option>
                <option value="scout.DD">Defesa Dificil</option>
              </select>
            </div>
            <div class="col">
              <input type="submit" class="btn btn-primary align-right" placeholder="Pontuação prevista">
            </div>
          </div>
        </form>
      </div>
      <div class="form-row col col-md-2">
        <input id="search-player" type="text" class="form-control" placeholder="Nome do jogador">
      </div>
    </div>
    <table class="table table-striped table-responsive-md btn-table">
      <thead>
        <tr scope="row">
          <td>Imagem</td>
          <td>Apelido</td>
          <td>Preço</td>
          <td>Ultima pontuação</td>
          <td>Valorização</td>
          <td>Media</td>
          <td>Jogos</td>
          <td>status</td>
          <td>Irá valorizar se fizer {{ request.GET.points }} pontos</td>
          <td>Posição</td>
          <td>Scouts</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
{% endblock %}

  {% block extrascripts %}
    <script type="text/javascript">
        var playersList = [
              {% for atleta in data.atletas|dictsortreversed:data.order_by %}
                  {
                      foto: "{{atleta.foto}}",
                      apelido: "{{ atleta.apelido }}",
                      preco_num: {{ atleta.preco_num }},
                      pontos_num: {{ atleta.pontos_num }},
                      variacao_num: {{ atleta.variacao_num }},
                      media_num: {{ atleta.media_num }},
                      jogos_num: {{ atleta.jogos_num }},
                      status_nome: "{{ atleta.status_nome }}",
                      to_valorizate: {{ atleta.to_valorizate|floatformat:2|intcomma }},
                      position: "{{ atleta.position }}",
                      scouts: {
                        {% for scout, value in atleta.scout.items %}
                            {{ scout }}: {{value}},
                        {% endfor %}
                      }
                  },
              {% endfor %}
          ];
        $(function(){
          let options = {
              shouldSort: true,
              threshold: 0.1,
              location: 0,
              distance: 100,
              maxPatternLength: 32,
              minMatchCharLength: 1,
              keys: [
                  "apelido",
              ]
          };
          let fuse = new Fuse(playersList, options); // "list" is the item array

          function createElementsByList(listPlayers) {
              $('tbody').html("");
              listPlayers.forEach(function(player) {
                  let $player = $("<tr>");
                  $player.attr('scope', 'row');
                  $player.append('<td><img class="img-thumbnail" src=" ' + player.foto + '"/></td>');
                  $player.append('<td>' + player.apelido + '</td>');
                  $player.append('<td>' + player.preco_num + '</td>');
                  $player.append('<td>' + player.pontos_num + '</td>');
                  $player.append('<td>' + player.variacao_num + '</td>');
                  $player.append('<td>' + player.media_num + '</td>');
                  $player.append('<td>' + player.jogos_num + '</td>');
                  $player.append('<td>' + player.status_nome + '</td>');
                  $player.append('<td>' + player.to_valorizate + '</td>');
                  $player.append('<td>' + player.position + '</td>');

                  let $scout = $("<td>");
                  let $scoutDropdown = $('<div class="dropdown">');
                  $scoutDropdown.append('' +
                      '<button class="btn btn-secondary dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Scouts</button>'
                  );

                  $scout.append($scoutDropdown);

                  let $scoutDropdownMenu = $('<div class="dropdown-menu">');
                  Object.keys(player.scouts).forEach(function(key) {
                      $scoutDropdownMenu.append('<li class="dropdown-item">' + key + ' = ' + player.scouts[key]+ '</li>');
                  });

                  $scoutDropdown.append($scoutDropdownMenu);
                  $player.append($scout);

                  $('tbody').append($player);
              });
          }
          createElementsByList(playersList);

          $('#search-player').on('input',function createListByFuse() {
              let $searchValue = $(this).val();
              let result = fuse.search($searchValue);
              if ($searchValue == '') {
                  createElementsByList(playersList);
              } else {
                createElementsByList(result);
              }
          });
        })
    </script>
  {% endblock %}
