<html>
<body>
<table border="1">
    <tr>
        <td>Imagem</td>
        <td>Apelido</td>
        <td>Preço</td>
        <td>Ultima pontuação</td>
        <td>Valorização</td>
        <td>Media</td>
        <td>status</td>
        <td>Pontuação para valorizar na proxima rodada</td>
        <td>Posição</td>
    </tr>
    {% for atleta in data.atletas|dictsort:"to_valorizate" %}
        <tr>
            <td><img src="{{atleta.foto}}"/></td>
            <td>{{atleta.apelido}}</td>
            <td>{{atleta.preco_num}}</td>
            <td>{{atleta.pontos_num}}</td>
            <td>{{atleta.variacao_num}}</td>
            <td>{{atleta.media_num}}</td>
            <td>{{atleta.status_nome}}</td>
            <td>{{atleta.to_valorizate}}</td>
            <td>{{atleta.position}}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>