{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% block htmltitle %}
      <title>Cartola Valorization</title>
    {%endblock%}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta name="description" content="Site para consultar jogadores e sua provável valorização na próxima rodada">
    <meta name="author" content="Ikaro Pinheiro Lopes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/base.css' %}" rel="stylesheet">
    {% block extrastyle %}{% endblock %}
</head>
<body>
    <header class="valorization-header">
      <div class="align-content-center">
        <img class="img-fluid cartola-header-img" src="{% static 'images/cartola-2019.jpg'%}"/>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/players/">Jogadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/players/partials/">Parciais da rodada</a>
          </li>
        </ul>
      </div>
    </header>
    <!-- Content -->
    <div class="container">
        <!-- Main Content -->
        {% block content %}
        {% endblock %}
    </div>
    <!-- / Content -->
    <script type="text/javascript" src="{% static 'dist/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/jquery-3-4-1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/fuse.min.js' %}"></script>
    {% block extrascripts %}
    {% endblock %}
</body>
</html>
